<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <link href="styles.css" rel="stylesheet"/>
  </head>
  <body>
    <aside id="ui-control">
      <h2>Enter a city name</h2>
      <form>
        <input name="city" type="text" />
        <button id="get-weather">Get weather</button>
      </form>
    </aside>

    <main>
      <article>The weather is: <span id="current-weather"></span></article>
      <article>The temperature is: <span id="current-temperature"></span></article>
    </main>
  </body>
</html>
